/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************/
/***************************FONT********************************/
@font-face
{
    font-family: 'Raleway';   
    src: url('font/Raleway-VariableFont_wght.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}

/***************************************************************/


body
{
    font-family: 'Raleway'; 
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

/***********************HEADER***********/

header{
    background-color: rgba(243,233,241,254);   
}

header > div
{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 0 2rem;
}

#main_logo
{
    width: 200px;
}

nav
{
    padding: 2rem 0;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

nav > a
{
    padding-left: 2rem;
    font-size: 1.5rem;
}

/***********************SECTION***********/

#main
{
    max-width: 1440px;
    margin: auto;
    padding: 0 0 5rem 0;
    position: relative;
    /* -moz-box-sizing: border-box; */
     box-sizing: border-box;

}

#section
{
    justify-content: center;
    display: grid;
    grid-template-columns:  30%  30%  30%; 
    
}



h1
{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

#product_bloc, #card_product_bloc, #card_bloc, #card_bloc2, #empty_card
{ 
    margin: 1rem;
    box-shadow: 8px 8px 19px 1px rgba(181,181,181,0.8);
    border-radius: 10px;
    
}
    #product_bloc_photo, #card_product_bloc_photo
    {
        width: 100%;
        height: 232px;
        justify-content: center;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    #product_bloc_photo_container, #card_product_bloc_photo_container, #card_bloc_photo_container
    {
        padding:0.5rem;
    }

    #product_bloc > div > div, #card_product_bloc > div > div, h2, p
    {
        padding: 0.5rem 0;
    }

    #product_bloc_text, #card_product_bloc_text, #card_bloc_text
    {
        font-size: 0.75rem;
        padding: 1rem;
        
    }

    #product_bloc_text_description, #product_bloc_text_price
    {
        font-size: 1.15rem;
    }

    #product_bloc_text > h2
        {
            font-size: 1rem;
            font-weight: bold;
            padding-bottom: 1rem;
        }

    #product_bloc_text_button
    {
        display: flex;
        justify-content: center;
        color:#505739;
        box-shadow: 0px 1px 0px 0px #1c1b18;
        background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
        background-color:#eae0c2;
        border-radius:15px;
        border:2px solid #333029;	
        cursor:pointer;
        font-weight:bold;
        padding:4px 6px;
        margin: 1rem 0;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    
        transition-duration: 0.3s;
        transform: scale(1);
    }
    
    #product_bloc_text_button:hover
        {
            transform: scale(1.015);
        }

/***********************FOOTER***********/

footer
{
    
    background-color: black;  
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
}

    footer > div
    {
        text-align: center;
        font-size: 1.2rem;
        height: auto;
        padding: 1rem;
    }

    

/***********************PRODUCT PAGE*******************/
/******************************************************/



#card_product_bloc, #card_product_bloc2
{
    margin: 1rem 3rem ;
}

#card_product_bloc_text, #card_bloc_text
{
    font-size: 1.25rem;
}

#card_product_bloc_text > h2, #card_bloc_text > h2
{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    
}

#card_product_bloc_text_lenses_container>p, #card_bloc_text_lenses_container>p, #card_product_bloc_text_quantity>p, #card_bloc_text_quantity>p, 
#card_product_bloc_text_price_container>p, #card_bloc_text_price_container>p
{
    font-weight: bold;
    color: #505739;
}

#checkbox_label
{
    padding-right: 2rem;
}

#card_quantity_input
{
    display: flex;
    justify-content: center;
}

/***********************CARD PAGE*******************/
/******************************************************/

#card_section
{
    display: flex;
    align-items: flex-start;
}

#display_quantity, #card_section, #card_section2
{
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#empty_card
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#card_bloc
{
    max-width: 100%;
    margin: 1rem 3rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

#card_bloc2
{
    height: auto;
    min-width: 170px;
    margin: 1rem 0 1rem 1rem ;
}

#card_bloc_photo
{
    max-width:250px;
    height: auto;
}

#card_bloc_text_name, #cardbloc_text_description
{
    display: flex;
    flex-wrap: nowrap;
}

#card_bloc_text
{
    display: block;
    padding-right: 3rem;
}

#card_bloc_text_price
{
    padding: 8px 0;
}

/*#card_bloc_bottom
{
    display: flex;
    justify-content: space-between;
}*/

#card_delete, #card_delete_item
{
    cursor: pointer;
}

form
{
    display: block;
    font-size: 1.2rem;
    margin: 1rem 2rem;
    padding: 1rem 4rem 5rem 4rem;
}

form > h2
{
    display:flex;
    justify-content: center;
}

#form_title
{
    font-size: 2rem;
}

#form_input
{   
    display: flex;
    flex-wrap: wrap;
}

#form_input > div
{
    padding: 1rem 2rem;
}

#form_input > div > label
{
    display: block;
    width: 100px;
}


/***********************RESPONSIVE*******************/
/******************************************************/

@media screen and (max-width: 640px)
{   
    #section
    {
        display: block;
    }

    nav
    {
        display: flex;    
        flex-direction: column;
        justify-content: right;
    }

    #main_logo
    {
        width: 125px;
        display: flex;
        justify-content: center;
    }
    #header_logo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #card_section
    {
        display: block;
    }

    #card_bloc
    {
        margin: 1rem;
    }

    #card_bloc2
    {
        min-width: 0px;
        max-width: 100%;
        margin: 1rem;
    }

    #card_product_bloc_text
    {
        padding-right: 0;
    }


    #form_input
    {
        justify-content: center;
    }

    #form_input > div
    {
        /* padding: 1rem 0; */
    }
}